<h3>
{{t 'l10n.invoice.title'}}
</h3>

<table id="invoicemeta" class="vclNoBorder vclFloatRight" style="min-width: 18em;">
  <tr>
    <td><b>{{t 'l10n.invoice.number'}}</b></td>
    <td class="vclAlignRight">{{invoice.invoice_number}}</td>
  </tr>
  {{#each invoice.references}}
  <tr>
    <td>{{t instance_type}}</td>
    <td class="vclAlignRight">{{instance_id}}</td>
  </tr>
  {{/each}}
  <tr>
    <td>{{t 'l10n.invoice.timestamp'}}</td>
    <td class="vclAlignRight">{{df invoice.timestamp}}</td>
  </tr>
</table>

<div class="vclClear"></div>
<br>
<br>

<table id="address" class="vclTable">
  <tbody>
    {{#if invoice.recipient}}
    <tr>
      <td class="vclSpan-10p">{{t 'l10n.invoice.billingAddress'}}:</td>
      <td>
      {{#if invoice.recipient.address.business_address}}
        {{invoice.recipient.business_address.name}}
      {{/if}}
      {{#if invoice.recipient.address.residential_address.mid_name}}
        {{t 'l10n.invoice.salutation.mid_name'
          title=invoice.recipient.address.residential_address.title
          familyName=invoice.recipient.address.residential_address.family_name
          midName=invoice.recipient.address.residential_address.mid_name
          givenName=invoice.recipient.address.residential_address.given_name
        }}
      {{/if}}
      {{#if invoice.recipient.address.residential_address}}
        {{t 'l10n.invoice.salutation'
          title=invoice.recipient.address.residential_address.title
          familyName=invoice.recipient.address.residential_address.family_name
          givenName=invoice.recipient.address.residential_address.given_name
        }}
      {{/if}}
      </td>
    </tr>
    <tr>
      <td> </td>
      <td>{{invoice.recipient.address.street}} {{invoice.recipient.address.building_number}}</td>
    </tr>
    <tr>
      <td> </td>
      <td>{{invoice.recipient.address.postcode}} {{invoice.recipient.address.locality}}</td>
    </tr>
    <tr>
      <td> </td>
      <td>{{invoice.recipient.address.country.name}}</td>
    </tr>
    {{else}}
    <tr>
      <td class="vclSpan-10p">{{t 'l10n.invoice.recipent'}}</td>
      <td>
        {{user.given_name}} {{user.family_name}}
      </td>
    </tr>
    {{/if}}
  </tbody>
</table>

<br>

<table id="items" class="vclTable vclSumTable">
  <thead>
    <tr>
      <!-- <th></th> -->
      <th>{{t 'l10n.invoice.position'}}</th>
      <th>{{t 'l10n.invoice.name'}}</th>
      <th>{{t 'l10n.invoice.quantity'}}</th>
      <th class="vclAlignRight">{{t 'l10n.invoice.itemPrice'}}</th>
      <th class="vclAlignRight">{{t 'l10n.invoice.itemAmount'}}</th>
    </tr>
  </thead>
  <tbody>
    <!-- In this template we union all sections into one table! -->
    {{#each invoice.sections as | section |}}
    {{#each section.positions as | position |}}
    <tr>
      <td>{{increment @index}}</td>
      <!-- <td>{{position.id}}</td> -->
      <td>{{
        position.product_item.product.product.name
      }}{{
        position.product_item.product.bundle.name
      }}{{
        position.fulfillment_item.fulfillment_product.name
      }}{{
        position.manual_item.name
      }}</td>
      <td>{{position.quantity}}</td>
      {{#if position.unit_price.sale }}
      <td class="vclAlignRight">{{
        nfc position.unit_price.sale_price
        cc=position.unit_price.currency.code
      }}</td>
      {{else}}
      <td class="vclAlignRight">{{
        nfc position.unit_price.regular_price
        cc=position.unit_price.currency.code
      }}</td>
      {{/if}}
      <td class="vclAlignRight">{{
        nfc position.amount.gross
        cc=position.amount.currency.code
      }}</td>
    </tr>
    {{/each}}
    <tr class="vclNoBorder">
      <td colspan="6">&nbsp;</td>
    </tr>
    {{/each}}
    {{#each invoice.total_amounts as | amount |}}
    <tr class="vclSumTableTotal">
      <td colspan="4">{{t 'l10n.invoice.gross'}}:</td>
      <td colspan="2" class="vclAlignRight">{{nfc amount.gross cc=amount.currency.code}}</td>
    </tr>
    {{#each amount.vats as | vat |}}
    <tr class="vclNoBorder">
      <td colspan="4">+ {{t vat.tax_id}}:</td>
      <td colspan="2" class="vclAlignRight">{{nfc vat.vat cc=amount.currency.code}}</td>
    </tr>
    {{/each}}
    <tr class="vclSumTableTotal">
      <td colspan="4">{{t 'l10n.invoice.total'}}:</td>
      <td colspan="2" class="vclAlignRight">{{nfc amount.net cc=amount.currency.code}}</td>
    </tr>
    <tr class="vclNoBorder">
      <td colspan="6">&nbsp;</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br>

<p class="vclAlignCentered">
  {{t 'l10n.invoice.footer.title' title=invoice.shop.name}}
  <br>
  <img src={{t 'l10n.invoice.logo.url'}}/>
  <br>
  {{t 'l10n.invoice.footer.text'
    name=invoice.sender.address.business_address.name
    street=invoice.sender.address.street
    postcode=invoice.sender.address.postcode
    locality=invoice.sender.address.locality
    country=invoice.sender.address.country.name
  }}
  <br>
  {{t 'l10n.invoice.footer.text.vatId'
    vatId=invoice.shop.organization.vat_id
  }}
</p>

<p class="vclAlignCentered">
  {{t 'l10n.invoice.paymentMethod'}}: {{invoice.payment_method}}
</p>
