<h3>
{{t 'l10n.invoice.title'}}
</h3>

<table id="invoicemeta" class="vclNoBorder vclFloatRight" style="min-width: 18em;">
  <tr>
    <td><b>{{t 'l10n.invoice.number'}}</b></td>
    <td class="vclAlignRight">{{invoice.invoice_number}}</td>
  </tr>
  {{#each invoice.references}}
  <tr>
    <td>{{t 'l10n.invoice.reference.id'}}</td>
    <td class="vclAlignRight">{{instance_id}}</td>
  </tr>
  {{/each}}
  <tr>
    <td>{{t 'l10n.invoice.timestamp'}}</td>
    <td class="vclAlignRight">{{df invoice.timestamp}}</td>
  </tr>
</table>

<div class="vclClear"></div>
<br>
<br>

<table id="address" class="vclTable">
  <tbody>
    {{#if invoice.recipient}}
    <tr>
      <td class="vclSpan-10p">{{t 'l10n.invoice.billingAddress'}}</td>
      <td>
      {{#if invoice.recipient.business_address}}
        {{invoice.recipient.business_address.name}}
      {{/if}}
      {{#if invoice.recipient.residential_address}}
        {{t 'l10n.invoice.salutation'
          title=invoice.recipient.residential_address.title
          familyName=invoice.recipient.residential_address.family_name
          midName=invoice.recipient.residential_address.mid_name
          givenName=invoice.recipient.residential_address.given_name
        }}
      {{/if}}
      </td>
    </tr>
    <tr>
      <td> </td>
      <td>{{invoice.recipient.address.street}}</td>
    </tr>
    <tr>
      <td> </td>
      <td>{{invoice.recipient.address.postcode}} {{invoice.recipient.address.locality}}</td>
    </tr>
    <tr>
      <td> </td>
      <td>{{billing_country.name}}</td>
    </tr>
    {{else}}
    <tr>
      <td class="vclSpan-10p">{{t 'l10n.invoice.recipent'}}</td>
      <td>
        {{user.given_name}} {{user.family_name}}
      </td>
    </tr>
    {{/if}}
  </tbody>
</table>

<br>

{{#each invoice.sections as | section |}}
<table id="items" class="vclTable vclSumTable">
  <thead>
    <tr>
      <th>{{t 'l10n.invoice.position'}}</th>
      <th>{{t 'l10n.invoice.name'}}</th>
      <th>{{t 'l10n.invoice.quantity'}}</th>
      <th class="vclAlignRight">{{t 'l10n.invoice.itemPrice'}}</th>
      <th class="vclAlignRight">{{t 'l10n.invoice.itemAmount'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each section.positions as | position |}}
    <tr>
      <td>{{id}}</td>
      
      {{#if position.product_item.product}}
        <td>{{position.product_item.product.name}}</td>
      {{/if}}
      
      {{#if position.product_item.fulfillment_item}}
        <td>{{fulfillment_product.name}}</td>
      {{/if}}
      
      {{#if position.product_item.manual_item}}
        <td>{{position.product_item.manual_item.name}}</td>
      {{/if}}
      
      <td>{{position.product_item.quantity}}</td>

    </tr>
    {{/each}}
  </tbody>
</table>
{{/each}}

<br>

<p class="vclAlignCentered">
  {{{t 'l10n.invoice.footer.title' shopName=invoice.shop.name}}}
  <br>
  <br>
  <img src={{t 'l10n.invoice.logo.url'}}/>
  <br>
  <br>
  {{t 'l10n.invoice.footer.text'
    name=invoice.sender.business_address.name
    street=invoice.sender.street
    postcode=invoice.sender.postcode
    locality=invoice.sender.locality
    country=invoice.sender.country.name
    vatID=invoice.sender.organization.vat_id
  }}
</p>

<p class="vclAlignCentered">
  {{t 'l10n.invoice.paymentMethod'}}: {{invoice.payment_method}}
</p>
